body {
    margin:0;
    background:url(imgs/bg.jpg) #f8f6e9;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

p {
    color:blue;
    text-align:justify;
    text-indent:45px;
    font-style:normal;
    font-size:40px;
}

