<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>Community</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<script type="text/javascript">
function like_post(post_id)
{
    var xmlhttp;
    var url = "/community/like?post_id="+post_id;
    xmlhttp=new XMLHttpRequest();
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            document.getElementById("like_counter"+post_id).innerHTML=xmlhttp.responseText;
        }
    }
    xmlhttp.open("GET",url,true);
    xmlhttp.send();
}
</script>
</head>
<body>


<ul>
    <li style="margin-left:160px"><a class="active" href="/community">Community</a></li>
    <li><a href="/home">Home</a></li>
    <li><a href="/find">Find</a></li>
    <li><a href="/follow">Follow</a></li>
    <li><a href="/favorates">Favorates</a></li>
    <li><a href="/setting">Setting</a></li>
    <li style="float:right;background-color:#606060"><a href="/logout">LogOut</a></li>
</ul>

<div style="display: -webkit-box;">

<div style="margin-top: 150px;">

    {% for i in postlist %}
    <div class="postlist">
        <h4>{{i[0]}}</h4>
        <p>{{i[2]}}</p>
        <div style="display: -webkit-box">
            <p id="like_counter{{i[1]}}" style="font-size:16px;padding-left:530px">{{i[3]}} </p>
            <p onclick="like_post({{i[1]}})" style="font-size:16px;padding-left:6px;cursor:pointer">like</p>
            <p style="font-size:16px;padding-left:30px">{{i[4]}}</p>
        </div>
    </div>
    {% endfor %}
</div>



<div class="card">
    <h2 style="margin-left: 30px">{{userinfo[0]}}</h2>
    <h4 style="margin-left: 30px">{{userinfo[1]}}</h4>
    
</div>

</div>

</body>
</html>
