<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
</head>
<body>

<ul>
    <li style="margin-left:160px"><a href="/home">Home</a></li>
    <li><a href="/find">Find</a></li>
    <li><a class="active" href="/follow">Follow</a></li>
    <li><a href="/favorates">Favorates</a></li>
    <li><a href="/setting">Setting</a></li>
    <li style="float:right;background-color:#606060"><a href="/logout">LogOut</a></li>
</ul>

<div style="padding:20px;margin-top:30px;margin-left:160px">
<h1 style="margin-bottom: 40px;">Check your following and followed users.</h1>

<div style="width: 600px; float: left; margin-right: : 30px;">
<h2>You are following {{count[0]}} users:</h2>


<table style="width: 700px;">
{% for i in followings %}
<tr style="height: 140px;">
    <form action="/follow" method="post">
        
        <td style="vertical-align:bottom;">
            <input type="hidden" name="user_id" value="{{i[0]}}">
            <label style="font-size:24px;margin-bottom: 5px;">{{i[1]}}</label><br>
            <label style="font-size:24px;margin-bottom: 5px;">{{i[2]}}</label><br>
            <label style="font-size:24px;margin-bottom: 5px;">{{i[3]}}</label>
        </td>
        <td style="vertical-align:bottom;">
            <button type="submit" style="width:100px;margin:2px;background-color:#4CAF50;border:none;border-radius:4px;color:white;font-size:18px;padding-top:7px;padding-bottom:7px;">Unfollow</button>
        </td>
    
    </form>
</tr>
{% endfor %}
</table>
</div>

<div style="width: 600px; float: left;">
<h2>Your have {{count[1]}} followers:</h2>
<table>
<tr>
    <td>
        {% for i in followers %}
        <label style="font-size:24px;margin-bottom: 5px;">{{i[1]}}</label><br>
        <label style="font-size:24px;margin-bottom: 5px;">{{i[2]}}</label><br>
        <label style="font-size:24px;margin-bottom: 5px;">{{i[3]}}</label>
    </td>
</tr>
{% endfor %}
</table>
</div>

</div>  
</body>
</html>