<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/post.css">
</head>
<body >

<ul>
    <li style="margin-left:160px"><a class="active" href="/home">Home</a></li>
    <li><a href="/find">Find</a></li>
    <li><a href="/follow">Follow</a></li>
    <li><a href="/favorates">Favorates</a></li>
    <li><a href="/setting">Setting</a></li>
    <li style="float:right;background-color:#606060"><a href="/logout">LogOut</a></li>
</ul>



<div>
	<h1>Welcome, {{username}}.</h1>
    <p>You have {{post_number}} posts.</p>
</div>

<div>
    <form action="/home" method="post">
        <textarea style="width: 1180px;" name="content" placeholder="Type in your content" rows="4" ></textarea><br><br>
        {% if message %}
        <p style="color: red; font-size: 20px;float: left;">{{message}}</p>
        {% endif %}
        <button style="float: right" type="submit">Post</button>
    </form>
</div>


<div class="postlist">
    {% if posts %}
    {% for i in posts %}
    <p style="margin-top: 50px">{{i[0]}}</p>
    <p style="float: right;font-size:15px;padding-right: 30px">{{i[1]}}</p>
    {% endfor %}
    {% endif %}
</div>



</body>
</html>
