<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
</head>
<body>

<ul>
    <li style="float:right;background-color:#606060"><a href="/register">Register</a></li>
</ul>

<div>
<form action="/login" method="post">
    <div style="margin-top:260px;width:270px;margin-left:auto;margin-right:auto">
        <div>
            <h2 style="margin-left: 40px;margin-bottom: 8px;">Please login</h2>
        </div>
        <div>
            <input style="height: 28px; margin-bottom: 1px;" type="text" class="form-control" name="name" placeholder="Email or Username" required autofocus/>
        </div>
        <div>
            <input style="height: 28px; margin-bottom: 1px;" type="password" class="form-control" name="password" placeholder="Password" required autofocus/>
        </div>
        <div>
            <button style="width:242px;margin:2px;background-color:#4CAF50;border:none;border-radius:4px;color:white;font-size:18px;padding-top:7px;padding-bottom:7px;" type="submit">login</button>
        </div>
        <div text-center text-info">{% if message %}
            <p style="color:red">&nbsp;&nbsp;{{message}}</p>
            {% endif %}
        </div>
    </div>
</form>
</div>

</body>
</html>
